ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.formGrid {
  display: grid;
  grid-template-columns: 20% 10%;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--text-color);
}

.formGrid li:last-of-type {
  justify-self: center;
  align-self: center;  
}

.form {
  display: grid;
  gap: 4px;
}

.form > button[type="submit"] {
  width: 50%;
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 8px 8px;
  padding-top: 4px;
}

.listItem {
  display: flex;
  flex-direction: column;
  padding: 2px;
  border: 1px solid var(--text-color);
}

.listItem > button {
  width: 50%;
}

.image {
  display: none;
}

button {
  border: none;  
  background: var(--primary-color);
  color: var(--surface-color);
  border-radius: 4px;
}

input[type="text"], input[type="number"] {  
  border: 1px solid var(--text-color);
  border-radius: 4px;
}

input[type=file]::file-selector-button {
  border: 1px solid var(--text-color);
  color: var(--surface-color);
  background-color: var(--primary-color);
  font-size: initial;
  width: 50%;
  border-radius: 4px;
}

input[type=file] {
  font-size: 0;  
}
